body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  display: inline-block;
  margin: 0;
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 17px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

nav li.active a {
  color: #3AA8C1;
}

footer {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.copyright {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.footer-content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

nav .footer-contacts li {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-left: 100px;
  text-align: center;
}

.contact-info {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.social-icon {
  width: 20px;
  height: 20px;
}

header, footer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.portfolio {
  background-color: #E6DACE;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 50px
}

.portfolio-content {
  padding: 20px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.bio {
  width: 55%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
}

.decor {
  width: 50px;
  height: 45px;
  background-color: #EEA1CD;
  margin-top: 50px;
}

.title {
  width: 100%;
  display: flex;
}

.title-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

h6 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #EEA1CD;
  margin-bottom: 0;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}

h4 {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-right: 30px;
  line-height: 1.7;
  margin-bottom: 50px
}

.reed-senate-website-picture {
  background-image: url('reed-senate-website.png');
}

.ascii-chronicles-picture {
  background-image: url('ascii-chronicles.png');
}

.skribblio-picture {
  background-image: url('skribblio.png');
}

.brothers-buffet-website-picture {
  background-image: url('brothers-buffet.png');
}

.paideia-picture {
  background-image: url('paideia.png');
}

.castle-suspense-picture {
  background-image: url('castle-suspense.png');
}

.sclp-picture {
  background-image: url('sclp.png');
}

.reed-senate-website-picture, .skribblio-picture, .ascii-chronicles-picture, .brothers-buffet-website-picture, .paideia-picture, .castle-suspense-picture, .sclp-picture {
  right: 0;
  width: 45%;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  transition: filter 0.3s ease;
}

.reed-senate-website-picture:hover,
.skribblio-picture:hover,
.ascii-chronicles-picture:hover,
.brothers-buffet-website-picture:hover,
.paideia-picture:hover,
.castle-suspense-picture:hover {
  filter: brightness(70%);
}

.container {
  width: 750px;
  height: fit-content;
  background-color: #FFFFFF;
  margin: auto;
  display: flex;
  margin-top: 50px;
}
