body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1, h2 {
  display: inline-block;
  margin: 0;
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 17px;
}

h3 {
  font-size: 27px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #3AA8C1;
  margin: 20px auto;
}

.college-year {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: .25em;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

nav li.active a {
  color: #3AA8C1;
}

.intro {
  display: flex;
  height: calc(100vh - 80px);
  margin-top: 80px;
  position: relative;
}

.intro-content {
  width: 40%;
  background-color: #E6DACE;
}

.intro::after {
  content: "";
  flex: 1;
  background-color: #FFFFFF;
}

.test-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
}

.container-box {
  position: absolute;
  width: 40%;
  height: 100%;
  background: linear-gradient(#F4ECE6 90%, #FFFFFF 10%);
  z-index: 2;
  text-align: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  width: 200px;
  height: 200px;
  background-image: url('face_profile.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 25px auto auto auto;
}

.additional-content {
  position: absolute;
  right: 0;
  width: 55%;
  background-color: #FFFFFF;
}

.hello {
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 25px;
  margin: 0;
}

.bio {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.buttons-container {
  display: flex;
  margin-left: 0;
  margin-top: 20px;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  margin: 10px 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.resume-button {
  background-color: #EEA1CD;
  color: #FFFFFF;
}

.resume-button:hover {
  background-color: #9F6184;
}

.projects-button {
  background-color: #3AA8C1;
  color: #FFFFFF;
}

.projects-button:hover {
  background-color: #006D6F;
}

footer {
  background-color: #FFFFFF;
  color: #000000;
  padding: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.copyright {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.footer-content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

nav .footer-contacts li {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-left: 100px;
}

.contact-info {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.social-icon {
  width: 20px;
  height: 20px;
}

header, footer {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}
